
table, th, td {
  border:1px solid black;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This will make the container take up the full height of the viewport */
}
 
.table-centered {
  margin-left: auto;
  margin-right: auto;
}
